.numpad {
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}

.numpadItem {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    background-color: white;
    border: 1px solid rgb(71, 120, 226);
    transition: 0.1s;
    &:hover {
        background-color: rgb(71, 120, 226);
        color: white;
    }
}

.inputWrapper {
    text-align: center;
}

.input {
    margin: 20px;
    padding: 5px;
    font-size: 24px;
    border: 1px solid #000;
}

.atmInfoWrapper {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(15, 15, 15, 0.192);
}

.atmInfoInnerWrapper {
    position: relative;
    padding: 50px;
    background-color: #fff;
}

.btnShowAtmInfo {
    margin: 20px auto;
    width: 10px;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(255, 187, 0);
    color: rgb(255, 187, 0);
    border-radius: 50%;
    transition: 0.1s;
    &:hover {
        background-color: rgb(255, 187, 0);
        color: white;
    }
}

.btnAtmInfoClose {
    position: absolute;
    right: 10px;
    top: 10px;
}
